<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type="text/css" rel="stylesheet" href="static/main.css" />
<div class="header">
  <h1>Analysis of Online News Articles</h2>
</div>
</head>
<body>
<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <form action="{{ url_for('predict')}}" method="post">
        <label for="newsurl">Enter News url:</label><br>
        <input type="text" id="newsurl" name="newsurl" size="55">
        <input type="submit" value="Analyze">
      </form>
      <h4>(OR)</h4>
      <form action="{{ url_for('predict')}}" method="post">
        <label for="url">Enter News Article Text:</label><br>
        <br>
        <textarea rows="10" cols="65" name="newstext"></textarea>
        <input type="submit" value="Analyze">
      </form>
    </div>
  </div>
  <div class="rightcolumn">
    <h2> Analysis Report</h2>
    <div class="card">
      <h3>News Url:</h3>
      <p>{{urlgiven}}</p>
      <h3>News Article Text:</h3>
      <textarea rows="10" cols="65" name="newstext">{{articletext}}</textarea>
    </div>
    <div class="card">
      <div class="row">
        <div class="leftcolumn">
          <h3>Wordcloud:</h3>
          <p>(Major Words Seen in Article)</p>
          <img src="{{ url_for('static', filename='cloud.png')}}" style="width:100%"style="height:100%">
        </div>
        <div class="rightcolumn">
          <h3>Prediction:</h3>
          <h5>{{pprob}}% {{pclass}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>